{% extends 'home_page/base.html' %}
{% load teacher_tags %}
{% block content %}
<h1>{{title}}</h1>

<label for="teacher-sort-select">Выберите категорию для сортировки:</label>
<div class="sort">
    <form action="{{ teachers }}" method="get">
    <select name="sort" id="teacher-sort-select">
        <option value="">Без сортировки</option>
        <option value="name">Имя</option>
        <option value="rating">Персональный рейтинг</option>
        <option value="lessons_amount">Количество уроков</option>
        <option value="price">Стоимость урока</option>
        <option value="age">Возраст преподавателя</option>
    </select>
    <input type="submit" value="Сортировать">
    </form>
</div>
<div class="container">
{% for t in page_obj %}
    <div class="teacher-panel">
        <h4> {{t.name}} </h4>
        <p> Краткая информация: {{t.brief_info|truncatewords:50}} </p>
        <p class="link-read-post"><a href="{{ t.get_absolute_url }}">Подробнее</a></p>
    </div>
{% endfor %}
</div>
{% if page_obj.has_other_pages %}
    <nav class="list-pages">
    <ul>
    {% if page_obj.has_previous %}
        <li class="page-num">
	        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
    {% endif %}
    {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-num">
	        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
    {% endif %}

    </ul>
</nav>

{% endif %}

{% endblock content %}
